body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.tr{
  margin-left: 15px;
  margin-right: 15px;
}
.tr:nth-child(2n+1){background: white;}

.box {
  transition: box-shadow .3s;
}

.box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.delete:unhover{
  background-color: transparent;
}
.delete:hover {
  background-color: #ffcece;
}

.modal_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.modal_wrapper.open{
  display: block;
  height: 100%;
  z-index: 1000;
}

.modal_wrapper.close{
  display: none;
  height: 0;
}

.modal_body {
  margin: auto;
  margin-top: 5%;
  border: 2px;
  width: 680px;
}